@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    margin: 0px;
    padding: 0px;
}

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 30em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background: 
		linear-gradient(rgba(70, 69, 69, 0.6), rgba(0,0,0,.6)),
		linear-gradient(#e6e6e6, #1959e4);
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(../img/background.jpg) no-repeat center,
		linear-gradient(#585564, #326ef0);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}
.seccion{
    position: relative;
    float: left;
    width: 400px;
    height: 600px;
    background: #40464b;
    color: #ffffff;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 400px;
    font-size: 30px;
    border-color: #010005;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    float: left;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: .2s all;
    box-sizing: border-box;
    text-align: center;
    left: 20px;
}

.seccion_del{
    position: relative;
    float: left;
    width: 400px;
    height: 250px;
    background: #40464b;
    color: #ffffff;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 400px;
    font-size: 30px;
    border-color: #010005;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    float: left;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: .2s all;
    box-sizing: border-box;
    text-align: center;
    left: 20px;
}
.seccion_bus{
    position: relative;
    float: left;
    width: 400px;
    height: 250px;
    background: #40464b;
    color: #ffffff;
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 400px;
    font-size: 30px;
    border-color: #010005;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    float: left;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: .2s all;
    box-sizing: border-box;
    text-align: center;
    left: 20px;
}

.title{
    overflow: hidden;
    width: 100%;
    position: relative;
    float: left;
    background-color: #383838;
}
.tex{
    text-align: left;
}
input{
    width: 80%;
    font-size: 25px;
}
.btn_btn-registro{
    width: 80%;
    height: 30px;
    color: #fff;
    background-color: #5d75a3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn_btn-modificar{
    width: 80%;
    height: 30px;
    color: #fff;
    background-color: #5d75a3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn_btn-eliminar{
    width: 80%;
    height: 30px;
    color: #fff;
    background-color: #9b1813;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn_btn-buscar{
    width: 80%;
    height: 30px;
    color: #fff;
    background-color: #071735;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}