@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	margin: 0;
	padding: 0;
	background-image: url(../img/Empresas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto", Arial, sans-serif;
}

.container {
	width: 320px;
	height: 420px;
	background: #132f3b;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.container .principal{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.container h1{
	margin: 0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;
}

.container label{
	margin: 0;
	padding:0;
	font-weight: bold;
	display: block;
}

.container input{
	width: 100%;
	margin-bottom: 20px;
}

.container .btn-primary{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 40px;
	background: #389ad5;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}